* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-size: 14px;
    min-height: 0;
    background: transparent;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: rgb(99, 71, 60);
	border-radius: 15px;
    border: none;
	}

#workspaces button {
    padding: 5px 10px;
    color: #f0f0f0;
}

#workspaces button.active {
    color: #0f0f0f;
    background-color: rgba(212, 158, 114, 0.5);
    border-radius: 15px;
}

#workspaces button.focused {
    color: #0f0f0f;
    background-color: #c49ec4;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #0f0f0f;
    background-color: #9ec3c4;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #c49ec4;
	color: #0f0f0f;
	border-radius: 15px;
}

#clock, #battery, #pulseaudio, #network, #workspaces {
	background-color: rgba(44, 32, 27, 0.862);
	padding: 5px 10px;
	margin: 5px 0px;
}

#workspaces {
	background-color: rgba(99, 71, 60, 0.495);
	border-radius: 15px 0px 0px 15px;
}

#clock {
    color: #938acd;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#battery {
    color: #9ec49f;
}

#battery.charging {
    color: #63af66;
}

#battery.warning:not(.charging) {
    background-color: #c49ea0;
    color: #0f0f0f;
}

#network {
	color: #e7c59e;
	border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
	color: #8da9d4;
}