/* ----------------------------------------------
See theme/sezziato.md for theme color definitions
---------------------------------------------- */

* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-size: 14px;
    min-height: 0;
    background: transparent;
}

window#waybar {
    background: transparent;
    color: /*text*/rgb(255, 255, 255);
}

tooltip {
	background: /*base*/rgb(99, 71, 60);
	border-radius: 15px;
    border: none;
	}

#workspaces button {
    padding: 5px 10px;
    color: /*text*/rgb(255, 255, 255);
}

#workspaces button.active {
    color: /*dark-cocoa*/rgb(47, 35, 31);
    background-color: /*surface1*/rgb(125, 92, 73);
    border-radius: 15px;
}

#workspaces button.focused {
    color: /*dark-cocoa*/rgb(47, 35, 31);
    background-color: /*mango*/rgb(209, 140, 71);
    border-radius: 15px;
}

#workspaces button.urgent {
    color: /*dark-cocoa*/rgb(47, 35, 31);
    background-color: /*mango*/rgb(209, 140, 71);
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: /*lavender*/rgb(196, 158, 196);
	color: /*dark-cocoa*/rgb(47, 35, 31);
	border-radius: 15px;
}

#clock, #battery, #pulseaudio, #network, #workspaces {
    background-color: /*dark-cocoa-08*/rgba(47, 35, 31, 0.8);
	padding: 5px 10px;
	margin: 5px 0px;
}

#workspaces {
	background-color: /*base-05*/rgba(99, 71, 60, 0.5);
	border-radius: 15px 0px 0px 15px;
}

#clock {
    color: /*lavender*/rgb(196, 158, 196);
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#battery {
    color: /*pistachio*/rgb(158, 196, 159);
}

#battery.charging {
    color: /*pistachioer*/rgb(99, 175, 102);
}

#battery.warning:not(.charging) {
    background-color: /*rose*/rgb(205, 146, 150);
    color: /*dark-cocoa*/rgb(47, 35, 31);
}

#network {
	color: /*sunrise*/rgb(231, 197, 158);
	border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
	color: /*sky*/rgb(141, 169, 212);
}